In [1]:
import pandas as pd

In [2]:
global_warming_parameters = pd.read_csv("Data/All_parameters.csv")
global_warming_parameters

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,1880,0.0,3.0,233.0,0.0,0.0,2.785161e+09,-0.1148,-0.20,-0.470009,-158.7,NaN,0.000000,NaN
1,1881,0.0,4.0,239.0,0.0,0.0,1.374792e+09,-0.0628,-0.12,-0.356879,-153.1,NaN,0.220472,NaN
2,1882,0.0,4.0,252.0,0.0,0.0,1.384401e+09,-0.0648,-0.10,-0.372661,-169.9,NaN,-0.440945,NaN
3,1883,0.0,3.0,269.0,0.0,0.0,1.394147e+09,-0.1424,-0.21,-0.448443,-164.6,NaN,-0.232283,NaN
4,1884,0.0,4.0,271.0,0.0,0.0,1.403721e+09,-0.2009,-0.28,-0.589754,-143.7,NaN,0.590551,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.9363,0.99,NaN,NaN,2.86,NaN,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN,NaN

In [3]:
global_warming_parameters.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'population', 'GCAG_TEMP', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level',
       'Glacier_mass'],
      dtype='object')

In [4]:
global_warming_parameters_reduced = global_warming_parameters[79:131]

In [38]:
#predicting sea level
X_sea_level=global_warming_parameters_reduced[[ 'Cement',
         'GIS_TEMP','population', 'Sea_anomaly_temp', 'CO2_Increase']]
y_sea_level=global_warming_parameters_reduced["CSIRO Adjusted Sea Level"]

In [39]:
from sklearn.model_selection import train_test_split
X_train_sea_lvl, X_test_sea_lvl, y_train_sea_lvl, y_test_sea_lvl = train_test_split(X_sea_level, y_sea_level, random_state=42)

In [40]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [41]:
#modeling Tropical Depressions
model.fit(X_train_sea_lvl, y_train_sea_lvl)
training_score = model.score(X_train_sea_lvl, y_train_sea_lvl)
testing_score = model.score(X_test_sea_lvl, y_test_sea_lvl)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9743106456605448
Testing Score: 0.9799552016647906