In [1]:
import pandas as pd

In [2]:
global_warming_parameters = pd.read_csv("Data/All_parameters.csv")
global_warming_parameters

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,GCAG,GISTEMP,population,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level
0,1880,0.0,3.0,233.0,0.0,0.0,-0.1148,-0.20,2.785161e+09,-0.470009,-158.7,NaN,0.000000
1,1881,0.0,4.0,239.0,0.0,0.0,-0.0628,-0.12,1.374792e+09,-0.356879,-153.1,NaN,0.220472
2,1882,0.0,4.0,252.0,0.0,0.0,-0.0648,-0.10,1.384401e+09,-0.372661,-169.9,NaN,-0.440945
3,1883,0.0,3.0,269.0,0.0,0.0,-0.1424,-0.21,1.394147e+09,-0.448443,-164.6,NaN,-0.232283
4,1884,0.0,4.0,271.0,0.0,0.0,-0.2009,-0.28,1.403721e+09,-0.589754,-143.7,NaN,0.590551
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.584674,67.7,2.41,8.980315
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.751255,NaN,2.04,NaN
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.935577,NaN,2.94,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.86,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN

In [3]:
global_warming_parameters.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'GCAG', 'GISTEMP', 'population', 'Sea_anomaly_temp',
       'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level'],
      dtype='object')

In [4]:
#showing rows with all data available
global_warming_parameters_reduced = global_warming_parameters[79:131]

In [26]:
#predicting sea temp
X_sea_temp=global_warming_parameters_reduced[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'GCAG', 'population',
        'CO2_Increase', 'CSIRO Adjusted Sea Level']]
y_sea_temp=global_warming_parameters_reduced.Sea_anomaly_temp

In [27]:
from sklearn.model_selection import train_test_split
X_train_sea, X_test_sea, y_train_sea, y_test_sea = train_test_split(X_sea_temp, y_sea_temp, random_state=42)

In [28]:
from sklearn.linear_model import LinearRegression
model_sea = LinearRegression()

In [29]:
#modeling sea temps
model_sea.fit(X_train_sea, y_train_sea)
training_score_sea = model_sea.score(X_train_sea, y_train_sea)
testing_score_sea = model_sea.score(X_test_sea, y_test_sea)

print(f"Training Score: {training_score_sea}")
print(f"Testing Score: {testing_score_sea}")

Training Score: 0.9723955506435044
Testing Score: 0.9787681383331178