In [1]:
import pandas as pd

In [2]:
all_parameters = pd.read_csv("Data/All_parameters.csv")
all_parameters

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,1880,0.0,3.0,233.0,0.0,0.0,2.785161e+09,-0.1148,-0.20,-0.470009,-158.7,NaN,0.000000,NaN
1,1881,0.0,4.0,239.0,0.0,0.0,1.374792e+09,-0.0628,-0.12,-0.356879,-153.1,NaN,0.220472,NaN
2,1882,0.0,4.0,252.0,0.0,0.0,1.384401e+09,-0.0648,-0.10,-0.372661,-169.9,NaN,-0.440945,NaN
3,1883,0.0,3.0,269.0,0.0,0.0,1.394147e+09,-0.1424,-0.21,-0.448443,-164.6,NaN,-0.232283,NaN
4,1884,0.0,4.0,271.0,0.0,0.0,1.403721e+09,-0.2009,-0.28,-0.589754,-143.7,NaN,0.590551,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.9363,0.99,NaN,NaN,2.86,NaN,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN,NaN

In [3]:
tornado_df = pd.read_csv("Data/1950-2018alltornadoes.csv")
tornado_df

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1950,1,3,1950-01-03,11:00:00,3,MO,29,1,...,9.50,150,2,0,1,0,0,0,0,0
1,1,1950,1,3,1950-01-03,11:00:00,3,MO,29,1,...,6.20,150,2,1,2,189,0,0,0,0
2,1,1950,1,3,1950-01-03,11:10:00,3,IL,17,1,...,3.30,100,2,1,2,119,0,0,0,0
3,2,1950,1,3,1950-01-03,11:55:00,3,IL,17,2,...,3.60,130,1,1,1,135,0,0,0,0
4,3,1950,1,3,1950-01-03,16:00:00,3,OH,39,1,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,617020,2018,12,27,2018-12-27,10:15:00,3,LA,22,0,...,0.60,25,1,1,1,1,0,0,0,0
64821,617021,2018,12,27,2018-12-27,10:29:00,3,MS,28,0,...,1.29,100,1,1,1,163,0,0,0,0
64822,617022,2018,12,31,2018-12-31,12:35:00,3,KY,21,0,...,0.76,125,1,1,1,221,0,0,0,0
64823,617023,2018,12,31,2018-12-31,13:43:00,3,IN,18,0,...,2.01,50,1,1,1,147,0,0,0,0
64824,617024,2018,12,31,2018-12-31,14:38:00,3,IN,18,0,...,2.20,140,1,1,1,61,0,0,0,0

In [4]:
del tornado_df['om']
del tornado_df['mo']
del tornado_df['dy']
del tornado_df['date']
del tornado_df['time']

In [5]:
tornado_df

,yr,tz,st,stf,stn,mag,inj,fat,loss,closs,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950,3,MO,29,1,3,3,0,6.0,0.0,...,9.50,150,2,0,1,0,0,0,0,0
1,1950,3,MO,29,1,3,3,0,6.0,0.0,...,6.20,150,2,1,2,189,0,0,0,0
2,1950,3,IL,17,1,3,0,0,5.0,0.0,...,3.30,100,2,1,2,119,0,0,0,0
3,1950,3,IL,17,2,3,3,0,5.0,0.0,...,3.60,130,1,1,1,135,0,0,0,0
4,1950,3,OH,39,1,1,1,0,4.0,0.0,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,3,LA,22,0,1,0,0,7000.0,0.0,...,0.60,25,1,1,1,1,0,0,0,0
64821,2018,3,MS,28,0,0,0,0,15000.0,0.0,...,1.29,100,1,1,1,163,0,0,0,0
64822,2018,3,KY,21,0,1,0,0,55000.0,0.0,...,0.76,125,1,1,1,221,0,0,0,0
64823,2018,3,IN,18,0,1,0,0,50000.0,0.0,...,2.01,50,1,1,1,147,0,0,0,0
64824,2018,3,IN,18,0,1,0,0,20000.0,0.0,...,2.20,140,1,1,1,61,0,0,0,0

In [6]:
tornado_df_clean = tornado_df.rename(columns = {"yr":"Year","st": "State", "inj":"Injuries", "fat":"Fatalities","mag":"Magnitude",
                                                "loss":"Property_Loss","closs":"Crop_loss","slat":"Lat_Start",
                                                "slon":"Long_Start","elat":"Lat_End","elon":"Long_End", "len":"Length_(mi)", "wid":"Width_(yds)"})

In [7]:
tornado_df_clean

,Year,tz,State,stf,stn,Magnitude,Injuries,Fatalities,Property_Loss,Crop_loss,...,Length_(mi),Width_(yds),ns,sn,sg,f1,f2,f3,f4,fc
0,1950,3,MO,29,1,3,3,0,6.0,0.0,...,9.50,150,2,0,1,0,0,0,0,0
1,1950,3,MO,29,1,3,3,0,6.0,0.0,...,6.20,150,2,1,2,189,0,0,0,0
2,1950,3,IL,17,1,3,0,0,5.0,0.0,...,3.30,100,2,1,2,119,0,0,0,0
3,1950,3,IL,17,2,3,3,0,5.0,0.0,...,3.60,130,1,1,1,135,0,0,0,0
4,1950,3,OH,39,1,1,1,0,4.0,0.0,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,3,LA,22,0,1,0,0,7000.0,0.0,...,0.60,25,1,1,1,1,0,0,0,0
64821,2018,3,MS,28,0,0,0,0,15000.0,0.0,...,1.29,100,1,1,1,163,0,0,0,0
64822,2018,3,KY,21,0,1,0,0,55000.0,0.0,...,0.76,125,1,1,1,221,0,0,0,0
64823,2018,3,IN,18,0,1,0,0,50000.0,0.0,...,2.01,50,1,1,1,147,0,0,0,0
64824,2018,3,IN,18,0,1,0,0,20000.0,0.0,...,2.20,140,1,1,1,61,0,0,0,0

In [8]:
tornado_df_clean_reduced = tornado_df_clean[["Year", "Magnitude","State","Injuries","Fatalities",  "Lat_Start","Long_Start", "Lat_End","Long_End", "Length_(mi)","Width_(yds)"]]

In [9]:
tornado_df_clean_reduced["Count"]=1
tornado_df_clean_reduced

C:\Users\Amber\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Year,Magnitude,State,Injuries,Fatalities,Lat_Start,Long_Start,Lat_End,Long_End,Length_(mi),Width_(yds),Count
0,1950,3,MO,3,0,38.7700,-90.2200,38.8300,-90.0300,9.50,150,1
1,1950,3,MO,3,0,38.7700,-90.2200,38.8200,-90.1200,6.20,150,1
2,1950,3,IL,0,0,38.8200,-90.1200,38.8300,-90.0300,3.30,100,1
3,1950,3,IL,3,0,39.1000,-89.3000,39.1200,-89.2300,3.60,130,1
4,1950,1,OH,1,0,40.8800,-84.5800,0.0000,0.0000,0.10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,1,LA,0,0,30.1302,-92.3645,30.1321,-92.3547,0.60,25,1
64821,2018,0,MS,0,0,32.6431,-90.4509,32.6427,-90.4288,1.29,100,1
64822,2018,1,KY,0,0,36.8900,-87.9870,36.8915,-87.9734,0.76,125,1
64823,2018,1,IN,0,0,38.1813,-86.8863,38.2006,-86.8585,2.01,50,1
64824,2018,1,IN,0,0,38.0935,-86.0869,38.1000,-86.0470,2.20,140,1

In [10]:
years = tornado_df_clean_reduced["Year"].unique()
Mag_0 = []
Mag_1 = []
Mag_2 = []
Mag_3 = []
Mag_4 = []
Mag_5 = []
tornado_total = []

for year in years:
    total = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Year"] == year),:]
    tornado_total.append(total.shape[0])
    sum_0 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 0) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_0.append(sum_0.shape[0])
    sum_1 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 1) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_1.append(sum_1.shape[0])
    sum_2 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 2) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_2.append(sum_2.shape[0])
    sum_3 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 3) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_3.append(sum_3.shape[0])
    sum_4 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 4) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_4.append(sum_4.shape[0])
    sum_5 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 5) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_5.append(sum_5.shape[0])

In [11]:
#zip together above lists
tornado_data = list(zip(years, Mag_0, Mag_1,Mag_2,Mag_3,Mag_4,Mag_5,tornado_total))
#make a dataframe from zipped lists and rename columns
tornado_data = pd.DataFrame(tornado_data)
tornado_data = tornado_data.rename(columns = {0:"Year", 1:"Magnitude_0", 2:"Magnitude_1", 3:"Magnitude_2", 4: "Magnitude_3",5:"Magnitude_4", 6:"Magnitude_5",7:"Tornado_total"})
# atlantic_ocean_data = atlantic_ocean_data[:62]
# tornado_data = atlantic_ocean_data[29:160]
tornado_data

,Year,Magnitude_0,Magnitude_1,Magnitude_2,Magnitude_3,Magnitude_4,Magnitude_5,Tornado_total
0,1950,16,86,71,26,7,0,206
1,1951,49,100,84,23,5,0,261
2,1952,32,82,72,40,20,0,246
3,1953,66,160,143,46,22,5,442
4,1954,91,226,193,49,11,0,570
...,...,...,...,...,...,...,...,...
64,2014,478,325,76,20,7,0,906
65,2015,704,415,69,19,5,0,1212
66,2016,533,318,80,27,2,0,990
67,2017,637,607,146,16,3,0,1473
68,2018,628,406,81,13,0,0,1145

In [190]:
gw_data_tornado = pd.merge(all_parameters, tornado_data, on = "Year", how = "inner")
gw_data_tornado_condensed = gw_data_tornado[9:60]
gw_data_tornado_condensed

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,...,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass,Magnitude_0,Magnitude_1,Magnitude_2,Magnitude_3,Magnitude_4,Magnitude_5,Tornado_total
9,1959,206.0,789.0,1382.0,40.0,36.0,8.938733e+09,0.0596,0.03,-0.273542,...,0.96,4.358268,-8.325,145,264,157,37,11,0,614
10,1960,227.0,849.0,1410.0,43.0,39.0,9.104859e+09,0.0204,-0.02,-0.303577,...,0.71,4.503937,-8.688,128,262,175,47,6,1,619
11,1961,240.0,904.0,1349.0,45.0,42.0,9.275526e+09,0.0775,0.05,-0.264251,...,0.78,4.748031,-8.935,154,243,233,80,11,0,721
12,1962,263.0,980.0,1351.0,49.0,44.0,9.451249e+09,0.0888,0.03,-0.271703,...,0.56,4.543307,-9.109,191,267,166,37,6,0,667
13,1963,286.0,1052.0,1396.0,51.0,47.0,9.633002e+09,0.1068,0.06,-0.260397,...,0.57,4.480315,-9.567,98,182,154,35,7,0,476
14,1964,316.0,1137.0,1435.0,57.0,51.0,9.821936e+09,-0.1495,-0.20,-0.591331,...,0.49,4.169291,-9.699,169,268,221,48,10,3,719
15,1965,337.0,1219.0,1460.0,59.0,55.0,1.001875e+10,-0.0780,-0.10,-0.489249,...,1.10,4.610236,-9.298,248,300,251,79,39,1,918
16,1966,364.0,1323.0,1478.0,63.0,60.0,1.022377e+10,-0.0227,-0.05,-0.394110,...,1.10,4.397638,-9.436,169,239,147,27,5,6,593
17,1967,392.0,1423.0,1448.0,65.0,66.0,1.043631e+10,-0.0131,-0.02,-0.420358,...,0.61,4.452756,-9.303,282,329,247,61,21,0,940
18,1968,424.0,1551.0,1448.0,70.0,73.0,1.065480e+10,-0.0296,-0.07,-0.381870,...,0.99,4.484252,-9.219,192,253,165,42,11,5,668
19,1969,467.0,1673.0,1486.0,74.0,80.0,1.087705e+10,0.0929,0.07,-0.087637,...,1.32,4.751968,-9.732,195,220,143,51,8,0,617
20,1970,493.0,1839.0,1556.0,78.0,87.0,1.110132e+10,0.0372,0.02,-0.308633,...,1.13,4.677165,-10.128,164,257,196,40,13,1,671
21,1971,530.0,1947.0,1559.0,84.0,88.0,1.132728e+10,-0.0783,-0.09,-0.557176,...,0.73,4.881890,-10.288,188,382,243,74,13,4,904
22,1972,560.0,2057.0,1576.0,89.0,94.0,1.155495e+10,0.0264,0.01,-0.205168,...,1.47,5.240157,-10.441,174,347,183,39,4,0,747
23,1973,588.0,2241.0,1581.0,95.0,110.0,1.178335e+10,0.1641,0.15,-0.183674,...,1.46,5.003937,-10.538,219,497,305,77,16,1,1115
24,1974,597.0,2245.0,1579.0,96.0,107.0,1.201138e+10,-0.0719,-0.07,-0.425192,...,0.68,5.472441,-10.613,224,385,214,100,36,15,974
25,1975,604.0,2132.0,1673.0,95.0,92.0,1.223844e+10,0.0034,-0.02,-0.467543,...,1.23,5.409449,-10.534,307,378,194,34,11,0,924
26,1976,630.0,2314.0,1710.0,103.0,108.0,1.246400e+10,-0.0792,-0.11,-0.409628,...,0.97,5.370079,-10.633,241,362,174,54,14,3,848
27,1977,650.0,2398.0,1765.0,108.0,104.0,1.268852e+10,0.1978,0.18,-0.039769,...,1.92,5.303150,-10.682,236,420,143,48,13,1,861
28,1978,680.0,2392.0,1793.0,116.0,106.0,1.291359e+10,0.1123,0.07,-0.165393,...,1.29,5.555118,-10.754,338,318,111,28,7,0,802
29,1979,721.0,2544.0,1887.0,119.0,98.0,1.314152e+10,0.2273,0.17,0.069259,...,2.14,5.362205,-11.127,359,342,120,31,13,0,865
30,1980,740.0,2422.0,1947.0,120.0,86.0,1.337401e+10,0.2637,0.27,0.077197,...,1.70,5.598425,-11.318,267,408,162,34,5,0,876
31,1981,756.0,2289.0,1921.0,121.0,64.0,1.361099e+10,0.2999,0.33,0.021992,...,1.15,6.086614,-11.394,283,320,153,23,7,0,786
32,1982,740.0,2196.0,1992.0,121.0,64.0,1.385215e+10,0.1815,0.13,-0.003220,...,0.99,5.858268,-11.849,374,423,193,65,10,1,1066
33,1983,741.0,2176.0,1995.0,125.0,58.0,1.409871e+10,0.3411,0.30,0.123935,...,1.85,6.188976,-11.846,350,376,149,59,4,0,938
34,1984,808.0,2199.0,2094.0,128.0,51.0,1.435203e+10,0.1490,0.15,-0.059630,...,1.24,6.153543,-11.902,373,360,128,42,21,1,925
35,1985,837.0,2186.0,2237.0,131.0,49.0,1.461276e+10,0.1342,0.12,-0.109917,...,1.62,5.748031,-12.238,308,261,83,33,16,3,704
36,1986,831.0,2293.0,2300.0,137.0,46.0,1.488170e+10,0.2296,0.19,-0.013792,...,1.02,5.771654,-12.782,356,275,118,25,5,0,779
37,1987,894.0,2306.0,2364.0,143.0,44.0,1.515756e+10,0.3696,0.33,0.245639,...,2.70,5.795276,-12.795,340,239,64,16,3,0,662
38,1988,937.0,2412.0,2414.0,152.0,50.0,1.543628e+10,0.3757,0.41,0.163444,...,2.25,5.980315,-13.260,283,311,82,24,4,0,704
39,1989,985.0,2459.0,2457.0,156.0,41.0,1.571233e+10,0.2970,0.29,0.078590,...,1.38,6.157480,-13.343,369,368,109,10,16,0,872
40,1990,1019.0,2492.0,2419.0,157.0,40.0,1.598169e+10,0.4328,0.44,0.274842,...,1.17,6.232283,-13.687,537,385,161,47,18,3,1151
41,1991,1063.0,2605.0,2345.0,161.0,44.0,1.624286e+10,0.4055,0.43,0.249793,...,0.74,6.334646,-14.255,690,299,103,45,6,1,1144
42,1992,1095.0,2510.0,2357.0,167.0,35.0,1.649676e+10,0.2571,0.23,0.066994,...,0.70,6.358268,-14.501,700,417,131,46,17,1,1312
43,1993,1129.0,2523.0,2298.0,176.0,36.0,1.674480e+10,0.2853,0.24,0.074822,...,1.23,6.291339,-14.695,733,324,82,38,6,0,1183
44,1994,1139.0,2546.0,2358.0,186.0,38.0,1.698945e+10,0.3409,0.32,0.143645,...,1.68,6.500000,-15.276,694,276,83,36,5,0,1094
45,1995,1157.0,2565.0,2442.0,197.0,36.0,1.723263e+10,0.4577,0.46,0.221933,...,1.95,6.618110,-15.486,826,289,102,24,12,0,1253
46,1996,1209.0,2624.0,2469.0,203.0,37.0,1.747468e+10,0.3228,0.35,0.166192,...,1.06,6.787402,-15.890,745,315,94,24,2,1,1181
47,1997,1208.0,2700.0,2495.0,209.0,38.0,1.771514e+10,0.5187,0.48,0.428193,...,1.97,7.066929,-16.487,743,285,87,29,9,1,1154
48,1998,1243.0,2766.0,2391.0,209.0,35.0,1.795439e+10,0.6344,0.64,0.532724,...,2.82,6.665354,-17.310,883,388,121,37,9,2,1440
49,1999,1270.0,2737.0,2352.0,217.0,33.0,1.819272e+10,0.4438,0.42,0.169861,...,1.37,7.011811,-17.697,836,330,129,56,12,1,1364
50,2000,1288.0,2838.0,2367.0,226.0,45.0,1.843048e+10,0.4262,0.42,0.232502,...,1.23,7.062992,-17.727,723,271,62,20,3,0,1079
51,2001,1312.0,2840.0,2492.0,237.0,46.0,1.866788e+10,0.5473,0.55,0.404219,...,1.82,7.287402,-18.032,814,287,99,26,6,0,1232
52,2002,1344.0,2831.0,2521.0,252.0,48.0,1.890531e+10,0.6023,0.63,0.467141,...,2.36,7.381890,-18.726,629,225,71,27,5,0,957
53,2003,1391.0,2959.0,2743.0,276.0,48.0,1.914355e+10,0.6134,0.62,0.525080,...,2.29,7.759843,-19.984,904,370,100,29,12,0,1415
54,2004,1437.0,3053.0,2967.0,298.0,53.0,1.938348e+10,0.5783,0.55,0.494636,...,1.57,7.740157,-20.703,1225,480,107,25,5,0,1842
55,2005,1480.0,3076.0,3157.0,320.0,60.0,1.962572e+10,0.6585,0.69,0.532787,...,2.43,7.744094,-21.405,815,343,84,24,1,0,1267
56,2006,1525.0,3089.0,3339.0,356.0,61.0,1.987055e+10,0.6125,0.63,0.511456,...,1.75,7.917323,-22.595,702,303,98,36,3,0,1142
57,2007,1572.0,3081.0,3464.0,382.0,68.0,2.011784e+10,0.6100,0.66,0.384604,...,2.09,7.996063,-23.255,681,306,97,27,4,1,1116
58,2008,1631.0,3122.0,3571.0,388.0,71.0,2.036727e+10,0.5419,0.54,0.367312,...,1.79,8.350394,-23.776,997,515,158,56,11,1,1738
59,2009,1585.0,3056.0,3620.0,413.0,66.0,2.061831e+10,0.6367,0.64,0.589442,...,1.61,8.586614,-24.459,709,355,94,21,3,0,1182

In [13]:
gw_data_tornado_condensed.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'population', 'GCAG_TEMP', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level',
       'Glacier_mass', 'Magnitude_0', 'Magnitude_1', 'Magnitude_2',
       'Magnitude_3', 'Magnitude_4', 'Magnitude_5', 'Tornado_total'],
      dtype='object')

In [567]:
# X=gw_data_tornado_condensed[[ 'Gas Fuel',  'Cement', 'Sea_anomaly_temp',
#      'GIS_TEMP', 'population', 
#         'GMSL','CO2_Increase']]
X = gw_data_tornado_condensed[['Gas Fuel',   'Cement',
      'GIS_TEMP',  'population','CO2_Increase',
         'CSIRO Adjusted Sea Level'
       ]]

y=gw_data_tornado_condensed.Tornado_total

In [568]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [569]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [570]:
#modeling total tornadoes
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6882554529264668
Testing Score: 0.6922996965641994

In [275]:
X_mag_0=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel',  'Cement',
         'GIS_TEMP','population', 
       'CO2_Increase'
       ]]
y_mag_0=gw_data_tornado_condensed.Magnitude_0

In [276]:
X_train_mag_0, X_test_mag_0, y_train_mag_0, y_test_mag_0 = train_test_split(X_mag_0, y_mag_0, random_state=22)

In [277]:
model_mag_0 = LinearRegression()

In [278]:
#modeling mag 0 tornadoes
model_mag_0.fit(X_train_mag_0, y_train_mag_0)
training_score_mag_0 = model_mag_0.score(X_train_mag_0, y_train_mag_0)
testing_score_mag_0 = model_mag_0.score(X_test_mag_0, y_test_mag_0)

print(f"Training Score: {training_score_mag_0}")
print(f"Testing Score: {testing_score_mag_0}")

Training Score: 0.8709089955499222
Testing Score: 0.8280615553275835

In [343]:
X_mag_1=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel','Solid Fuel',  'Cement',
        'population',  'GIS_TEMP',  'CSIRO Adjusted Sea Level'
      
       ]]
y_mag_1=gw_data_tornado_condensed.Magnitude_1

In [344]:
X_train_mag_1, X_test_mag_1, y_train_mag_1, y_test_mag_1 = train_test_split(X_mag_1, y_mag_1, random_state=42)

In [345]:
model_mag_1 = LinearRegression()

In [346]:
#modeling mag 1 tornadoes
model_mag_1.fit(X_train_mag_1, y_train_mag_1)
training_score_mag_1 = model_mag_1.score(X_train_mag_1, y_train_mag_1)
testing_score_mag_1 = model_mag_1.score(X_test_mag_1, y_test_mag_1)

print(f"Training Score: {training_score_mag_1}")
print(f"Testing Score: {testing_score_mag_1}")

Training Score: 0.4528244877709732
Testing Score: 0.24146623129113864

In [542]:
X_mag_2=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel',  'Cement',
        'GIS_TEMP','population', 'Sea_anomaly_temp'
        
       ]]
y_mag_2=gw_data_tornado_condensed.Magnitude_2

In [543]:
X_train_mag_2, X_test_mag_2, y_train_mag_2, y_test_mag_2 = train_test_split(X_mag_2, y_mag_2, random_state=22)

In [544]:
model_mag_2 = LinearRegression()

In [545]:
#modeling mag 2 tornadoes
model_mag_2.fit(X_train_mag_2, y_train_mag_2)
training_score_mag_2 = model_mag_2.score(X_train_mag_2, y_train_mag_2)
testing_score_mag_2 = model_mag_2.score(X_test_mag_2, y_test_mag_2)

print(f"Training Score: {training_score_mag_2}")
print(f"Testing Score: {testing_score_mag_2}")

Training Score: 0.6167471956464687
Testing Score: 0.740594533082905

In [463]:
X_mag_3=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
        'population',  'GIS_TEMP','CO2_Increase'
       
      ]]
y_mag_3=gw_data_tornado_condensed.Magnitude_3

In [464]:
X_train_mag_3, X_test_mag_3, y_train_mag_3, y_test_mag_3 = train_test_split(X_mag_3, y_mag_3, random_state=42)

In [465]:
model_mag_3 = LinearRegression()

In [466]:
#modeling mag 3 tornadoes
model_mag_3.fit(X_train_mag_3, y_train_mag_3)
training_score_mag_3 = model_mag_3.score(X_train_mag_3, y_train_mag_3)
testing_score_mag_3 = model_mag_3.score(X_test_mag_3, y_test_mag_3)

print(f"Training Score: {training_score_mag_3}")
print(f"Testing Score: {testing_score_mag_3}")

Training Score: 0.38368112226936074
Testing Score: 0.04311288775462063

In [485]:
X_mag_4=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'population',  'GIS_TEMP',
         'CO2_Increase'
       ]]
y_mag_4=gw_data_tornado_condensed.Magnitude_4

In [486]:
X_train_mag_4, X_test_mag_4, y_train_mag_4, y_test_mag_4 = train_test_split(X_mag_4, y_mag_4, random_state=42)

In [487]:
model_mag_4 = LinearRegression()

In [488]:
#modeling mag 4 tornadoes
model_mag_4.fit(X_train_mag_4, y_train_mag_4)
training_score_mag_4 = model_mag_4.score(X_train_mag_4, y_train_mag_4)
testing_score_mag_4 = model_mag_4.score(X_test_mag_4, y_test_mag_4)

print(f"Training Score: {training_score_mag_4}")
print(f"Testing Score: {testing_score_mag_4}")

Training Score: 0.2884875428460787
Testing Score: -0.6016969045295962

In [518]:
X_mag_5=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 
        'population', 'GIS_TEMP',  'Sea_anomaly_temp',
     ]]
y_mag_5=gw_data_tornado_condensed.Magnitude_5

In [519]:
X_train_mag_5, X_test_mag_5, y_train_mag_5, y_test_mag_5 = train_test_split(X_mag_5, y_mag_5, random_state=42)

In [520]:
model_mag_5 = LinearRegression()

In [521]:
#modeling mag 5 tornadoes
model_mag_5.fit(X_train_mag_5, y_train_mag_5)
training_score_mag_5 = model_mag_5.score(X_train_mag_5, y_train_mag_5)
testing_score_mag_5 = model_mag_5.score(X_test_mag_5, y_test_mag_5)

print(f"Training Score: {training_score_mag_5}")
print(f"Testing Score: {testing_score_mag_5}")

Training Score: 0.26699634588711596
Testing Score: -0.3896784313178365