In [1]:
#import dependencies
import pandas as pd

In [4]:
#read in global warming parameters
all_parameters = pd.read_csv("../general/All_parameters.csv")
all_parameters

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,1880,0.0,3.0,233.0,0.0,0.0,2.785161e+09,-0.1148,-0.20,-0.470009,-158.7,NaN,0.000000,NaN
1,1881,0.0,4.0,239.0,0.0,0.0,1.374792e+09,-0.0628,-0.12,-0.356879,-153.1,NaN,0.220472,NaN
2,1882,0.0,4.0,252.0,0.0,0.0,1.384401e+09,-0.0648,-0.10,-0.372661,-169.9,NaN,-0.440945,NaN
3,1883,0.0,3.0,269.0,0.0,0.0,1.394147e+09,-0.1424,-0.21,-0.448443,-164.6,NaN,-0.232283,NaN
4,1884,0.0,4.0,271.0,0.0,0.0,1.403721e+09,-0.2009,-0.28,-0.589754,-143.7,NaN,0.590551,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,NaN,NaN,NaN,NaN,NaN,NaN,0.6679,0.65,0.584674,67.7,2.41,8.980315,-27.817
134,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.7408,0.74,0.751255,NaN,2.04,NaN,-28.652
135,2015,NaN,NaN,NaN,NaN,NaN,NaN,0.8998,0.87,0.935577,NaN,2.94,NaN,NaN
136,2016,NaN,NaN,NaN,NaN,NaN,NaN,0.9363,0.99,NaN,NaN,2.86,NaN,NaN
137,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.14,NaN,NaN

In [6]:
#read in tornado data
tornado_df = pd.read_csv("1950-2018alltornadoes.csv")
tornado_df

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1950,1,3,1950-01-03,11:00:00,3,MO,29,1,...,9.50,150,2,0,1,0,0,0,0,0
1,1,1950,1,3,1950-01-03,11:00:00,3,MO,29,1,...,6.20,150,2,1,2,189,0,0,0,0
2,1,1950,1,3,1950-01-03,11:10:00,3,IL,17,1,...,3.30,100,2,1,2,119,0,0,0,0
3,2,1950,1,3,1950-01-03,11:55:00,3,IL,17,2,...,3.60,130,1,1,1,135,0,0,0,0
4,3,1950,1,3,1950-01-03,16:00:00,3,OH,39,1,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,617020,2018,12,27,2018-12-27,10:15:00,3,LA,22,0,...,0.60,25,1,1,1,1,0,0,0,0
64821,617021,2018,12,27,2018-12-27,10:29:00,3,MS,28,0,...,1.29,100,1,1,1,163,0,0,0,0
64822,617022,2018,12,31,2018-12-31,12:35:00,3,KY,21,0,...,0.76,125,1,1,1,221,0,0,0,0
64823,617023,2018,12,31,2018-12-31,13:43:00,3,IN,18,0,...,2.01,50,1,1,1,147,0,0,0,0
64824,617024,2018,12,31,2018-12-31,14:38:00,3,IN,18,0,...,2.20,140,1,1,1,61,0,0,0,0

In [7]:
#delete unneeded columns
del tornado_df['om']
del tornado_df['mo']
del tornado_df['dy']
del tornado_df['date']
del tornado_df['time']

In [8]:
#show dataframe
tornado_df

,yr,tz,st,stf,stn,mag,inj,fat,loss,closs,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1950,3,MO,29,1,3,3,0,6.0,0.0,...,9.50,150,2,0,1,0,0,0,0,0
1,1950,3,MO,29,1,3,3,0,6.0,0.0,...,6.20,150,2,1,2,189,0,0,0,0
2,1950,3,IL,17,1,3,0,0,5.0,0.0,...,3.30,100,2,1,2,119,0,0,0,0
3,1950,3,IL,17,2,3,3,0,5.0,0.0,...,3.60,130,1,1,1,135,0,0,0,0
4,1950,3,OH,39,1,1,1,0,4.0,0.0,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,3,LA,22,0,1,0,0,7000.0,0.0,...,0.60,25,1,1,1,1,0,0,0,0
64821,2018,3,MS,28,0,0,0,0,15000.0,0.0,...,1.29,100,1,1,1,163,0,0,0,0
64822,2018,3,KY,21,0,1,0,0,55000.0,0.0,...,0.76,125,1,1,1,221,0,0,0,0
64823,2018,3,IN,18,0,1,0,0,50000.0,0.0,...,2.01,50,1,1,1,147,0,0,0,0
64824,2018,3,IN,18,0,1,0,0,20000.0,0.0,...,2.20,140,1,1,1,61,0,0,0,0

In [9]:
#update column names
tornado_df_clean = tornado_df.rename(columns = {"yr":"Year","st": "State", "inj":"Injuries", "fat":"Fatalities","mag":"Magnitude",
                                                "loss":"Property_Loss","closs":"Crop_loss","slat":"Lat_Start",
                                                "slon":"Long_Start","elat":"Lat_End","elon":"Long_End", "len":"Length_(mi)", "wid":"Width_(yds)"})

In [10]:
#show new df
tornado_df_clean

,Year,tz,State,stf,stn,Magnitude,Injuries,Fatalities,Property_Loss,Crop_loss,...,Length_(mi),Width_(yds),ns,sn,sg,f1,f2,f3,f4,fc
0,1950,3,MO,29,1,3,3,0,6.0,0.0,...,9.50,150,2,0,1,0,0,0,0,0
1,1950,3,MO,29,1,3,3,0,6.0,0.0,...,6.20,150,2,1,2,189,0,0,0,0
2,1950,3,IL,17,1,3,0,0,5.0,0.0,...,3.30,100,2,1,2,119,0,0,0,0
3,1950,3,IL,17,2,3,3,0,5.0,0.0,...,3.60,130,1,1,1,135,0,0,0,0
4,1950,3,OH,39,1,1,1,0,4.0,0.0,...,0.10,10,1,1,1,161,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,3,LA,22,0,1,0,0,7000.0,0.0,...,0.60,25,1,1,1,1,0,0,0,0
64821,2018,3,MS,28,0,0,0,0,15000.0,0.0,...,1.29,100,1,1,1,163,0,0,0,0
64822,2018,3,KY,21,0,1,0,0,55000.0,0.0,...,0.76,125,1,1,1,221,0,0,0,0
64823,2018,3,IN,18,0,1,0,0,50000.0,0.0,...,2.01,50,1,1,1,147,0,0,0,0
64824,2018,3,IN,18,0,1,0,0,20000.0,0.0,...,2.20,140,1,1,1,61,0,0,0,0

In [11]:
#remove unneeded columns
tornado_df_clean_reduced = tornado_df_clean[["Year", "Magnitude","State","Injuries","Fatalities",  "Lat_Start","Long_Start", "Lat_End","Long_End", "Length_(mi)","Width_(yds)"]]

In [12]:
#add a count column with value 1 for all rows
tornado_df_clean_reduced["Count"]=1
tornado_df_clean_reduced

C:\Users\Amber\Anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Year,Magnitude,State,Injuries,Fatalities,Lat_Start,Long_Start,Lat_End,Long_End,Length_(mi),Width_(yds),Count
0,1950,3,MO,3,0,38.7700,-90.2200,38.8300,-90.0300,9.50,150,1
1,1950,3,MO,3,0,38.7700,-90.2200,38.8200,-90.1200,6.20,150,1
2,1950,3,IL,0,0,38.8200,-90.1200,38.8300,-90.0300,3.30,100,1
3,1950,3,IL,3,0,39.1000,-89.3000,39.1200,-89.2300,3.60,130,1
4,1950,1,OH,1,0,40.8800,-84.5800,0.0000,0.0000,0.10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...
64820,2018,1,LA,0,0,30.1302,-92.3645,30.1321,-92.3547,0.60,25,1
64821,2018,0,MS,0,0,32.6431,-90.4509,32.6427,-90.4288,1.29,100,1
64822,2018,1,KY,0,0,36.8900,-87.9870,36.8915,-87.9734,0.76,125,1
64823,2018,1,IN,0,0,38.1813,-86.8863,38.2006,-86.8585,2.01,50,1
64824,2018,1,IN,0,0,38.0935,-86.0869,38.1000,-86.0470,2.20,140,1

In [13]:
# count number of each magnitude for each year and add to individual list, as well as count for total tornadoes each year
years = tornado_df_clean_reduced["Year"].unique()
Mag_0 = []
Mag_1 = []
Mag_2 = []
Mag_3 = []
Mag_4 = []
Mag_5 = []
tornado_total = []

for year in years:
    total = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Year"] == year),:]
    tornado_total.append(total.shape[0])
    sum_0 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 0) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_0.append(sum_0.shape[0])
    sum_1 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 1) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_1.append(sum_1.shape[0])
    sum_2 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 2) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_2.append(sum_2.shape[0])
    sum_3 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 3) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_3.append(sum_3.shape[0])
    sum_4 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 4) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_4.append(sum_4.shape[0])
    sum_5 = tornado_df_clean_reduced.loc[(tornado_df_clean_reduced["Magnitude"] == 5) & 
                                    (tornado_df_clean_reduced["Year"] == year),:]
    Mag_5.append(sum_5.shape[0])

In [14]:
#zip together above lists
tornado_data = list(zip(years, Mag_0, Mag_1,Mag_2,Mag_3,Mag_4,Mag_5,tornado_total))
#make a dataframe from zipped lists and rename columns
tornado_data = pd.DataFrame(tornado_data)
tornado_data = tornado_data.rename(columns = {0:"Year", 1:"Magnitude_0", 2:"Magnitude_1", 3:"Magnitude_2", 4: "Magnitude_3",5:"Magnitude_4", 6:"Magnitude_5",7:"Tornado_total"})
# tornado_data = atlantic_ocean_data[29:160]
tornado_data.tail(30)

,Year,Magnitude_0,Magnitude_1,Magnitude_2,Magnitude_3,Magnitude_4,Magnitude_5,Tornado_total
39,1989,369,368,109,10,16,0,872
40,1990,537,385,161,47,18,3,1151
41,1991,690,299,103,45,6,1,1144
42,1992,700,417,131,46,17,1,1312
43,1993,733,324,82,38,6,0,1183
44,1994,694,276,83,36,5,0,1094
45,1995,826,289,102,24,12,0,1253
46,1996,745,315,94,24,2,1,1181
47,1997,743,285,87,29,9,1,1154
48,1998,883,388,121,37,9,2,1440
49,1999,836,330,129,56,12,1,1364
50,2000,723,271,62,20,3,0,1079
51,2001,814,287,99,26,6,0,1232
52,2002,629,225,71,27,5,0,957
53,2003,904,370,100,29,12,0,1415
54,2004,1225,480,107,25,5,0,1842
55,2005,815,343,84,24,1,0,1267
56,2006,702,303,98,36,3,0,1142
57,2007,681,306,97,27,4,1,1116
58,2008,997,515,158,56,11,1,1738
59,2009,709,355,94,21,3,0,1182
60,2010,776,351,129,42,17,0,1315
61,2011,821,638,212,72,25,9,1777
62,2012,577,242,100,32,5,0,956
63,2013,508,314,86,22,8,1,939
64,2014,478,325,76,20,7,0,906
65,2015,704,415,69,19,5,0,1212
66,2016,533,318,80,27,2,0,990
67,2017,637,607,146,16,3,0,1473
68,2018,628,406,81,13,0,0,1145

In [15]:
#merge tornado df with global warming df and use only rows with all data available (no NAN entries)
gw_data_tornado = pd.merge(all_parameters, tornado_data, on = "Year", how = "inner")
gw_data_tornado_condensed = gw_data_tornado[9:60]
gw_data_tornado_condensed

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,...,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass,Magnitude_0,Magnitude_1,Magnitude_2,Magnitude_3,Magnitude_4,Magnitude_5,Tornado_total
9,1959,206.0,789.0,1382.0,40.0,36.0,8.938733e+09,0.0596,0.03,-0.273542,...,0.96,4.358268,-8.325,145,264,157,37,11,0,614
10,1960,227.0,849.0,1410.0,43.0,39.0,9.104859e+09,0.0204,-0.02,-0.303577,...,0.71,4.503937,-8.688,128,262,175,47,6,1,619
11,1961,240.0,904.0,1349.0,45.0,42.0,9.275526e+09,0.0775,0.05,-0.264251,...,0.78,4.748031,-8.935,154,243,233,80,11,0,721
12,1962,263.0,980.0,1351.0,49.0,44.0,9.451249e+09,0.0888,0.03,-0.271703,...,0.56,4.543307,-9.109,191,267,166,37,6,0,667
13,1963,286.0,1052.0,1396.0,51.0,47.0,9.633002e+09,0.1068,0.06,-0.260397,...,0.57,4.480315,-9.567,98,182,154,35,7,0,476
14,1964,316.0,1137.0,1435.0,57.0,51.0,9.821936e+09,-0.1495,-0.20,-0.591331,...,0.49,4.169291,-9.699,169,268,221,48,10,3,719
15,1965,337.0,1219.0,1460.0,59.0,55.0,1.001875e+10,-0.0780,-0.10,-0.489249,...,1.10,4.610236,-9.298,248,300,251,79,39,1,918
16,1966,364.0,1323.0,1478.0,63.0,60.0,1.022377e+10,-0.0227,-0.05,-0.394110,...,1.10,4.397638,-9.436,169,239,147,27,5,6,593
17,1967,392.0,1423.0,1448.0,65.0,66.0,1.043631e+10,-0.0131,-0.02,-0.420358,...,0.61,4.452756,-9.303,282,329,247,61,21,0,940
18,1968,424.0,1551.0,1448.0,70.0,73.0,1.065480e+10,-0.0296,-0.07,-0.381870,...,0.99,4.484252,-9.219,192,253,165,42,11,5,668
19,1969,467.0,1673.0,1486.0,74.0,80.0,1.087705e+10,0.0929,0.07,-0.087637,...,1.32,4.751968,-9.732,195,220,143,51,8,0,617
20,1970,493.0,1839.0,1556.0,78.0,87.0,1.110132e+10,0.0372,0.02,-0.308633,...,1.13,4.677165,-10.128,164,257,196,40,13,1,671
21,1971,530.0,1947.0,1559.0,84.0,88.0,1.132728e+10,-0.0783,-0.09,-0.557176,...,0.73,4.881890,-10.288,188,382,243,74,13,4,904
22,1972,560.0,2057.0,1576.0,89.0,94.0,1.155495e+10,0.0264,0.01,-0.205168,...,1.47,5.240157,-10.441,174,347,183,39,4,0,747
23,1973,588.0,2241.0,1581.0,95.0,110.0,1.178335e+10,0.1641,0.15,-0.183674,...,1.46,5.003937,-10.538,219,497,305,77,16,1,1115
24,1974,597.0,2245.0,1579.0,96.0,107.0,1.201138e+10,-0.0719,-0.07,-0.425192,...,0.68,5.472441,-10.613,224,385,214,100,36,15,974
25,1975,604.0,2132.0,1673.0,95.0,92.0,1.223844e+10,0.0034,-0.02,-0.467543,...,1.23,5.409449,-10.534,307,378,194,34,11,0,924
26,1976,630.0,2314.0,1710.0,103.0,108.0,1.246400e+10,-0.0792,-0.11,-0.409628,...,0.97,5.370079,-10.633,241,362,174,54,14,3,848
27,1977,650.0,2398.0,1765.0,108.0,104.0,1.268852e+10,0.1978,0.18,-0.039769,...,1.92,5.303150,-10.682,236,420,143,48,13,1,861
28,1978,680.0,2392.0,1793.0,116.0,106.0,1.291359e+10,0.1123,0.07,-0.165393,...,1.29,5.555118,-10.754,338,318,111,28,7,0,802
29,1979,721.0,2544.0,1887.0,119.0,98.0,1.314152e+10,0.2273,0.17,0.069259,...,2.14,5.362205,-11.127,359,342,120,31,13,0,865
30,1980,740.0,2422.0,1947.0,120.0,86.0,1.337401e+10,0.2637,0.27,0.077197,...,1.70,5.598425,-11.318,267,408,162,34,5,0,876
31,1981,756.0,2289.0,1921.0,121.0,64.0,1.361099e+10,0.2999,0.33,0.021992,...,1.15,6.086614,-11.394,283,320,153,23,7,0,786
32,1982,740.0,2196.0,1992.0,121.0,64.0,1.385215e+10,0.1815,0.13,-0.003220,...,0.99,5.858268,-11.849,374,423,193,65,10,1,1066
33,1983,741.0,2176.0,1995.0,125.0,58.0,1.409871e+10,0.3411,0.30,0.123935,...,1.85,6.188976,-11.846,350,376,149,59,4,0,938
34,1984,808.0,2199.0,2094.0,128.0,51.0,1.435203e+10,0.1490,0.15,-0.059630,...,1.24,6.153543,-11.902,373,360,128,42,21,1,925
35,1985,837.0,2186.0,2237.0,131.0,49.0,1.461276e+10,0.1342,0.12,-0.109917,...,1.62,5.748031,-12.238,308,261,83,33,16,3,704
36,1986,831.0,2293.0,2300.0,137.0,46.0,1.488170e+10,0.2296,0.19,-0.013792,...,1.02,5.771654,-12.782,356,275,118,25,5,0,779
37,1987,894.0,2306.0,2364.0,143.0,44.0,1.515756e+10,0.3696,0.33,0.245639,...,2.70,5.795276,-12.795,340,239,64,16,3,0,662
38,1988,937.0,2412.0,2414.0,152.0,50.0,1.543628e+10,0.3757,0.41,0.163444,...,2.25,5.980315,-13.260,283,311,82,24,4,0,704
39,1989,985.0,2459.0,2457.0,156.0,41.0,1.571233e+10,0.2970,0.29,0.078590,...,1.38,6.157480,-13.343,369,368,109,10,16,0,872
40,1990,1019.0,2492.0,2419.0,157.0,40.0,1.598169e+10,0.4328,0.44,0.274842,...,1.17,6.232283,-13.687,537,385,161,47,18,3,1151
41,1991,1063.0,2605.0,2345.0,161.0,44.0,1.624286e+10,0.4055,0.43,0.249793,...,0.74,6.334646,-14.255,690,299,103,45,6,1,1144
42,1992,1095.0,2510.0,2357.0,167.0,35.0,1.649676e+10,0.2571,0.23,0.066994,...,0.70,6.358268,-14.501,700,417,131,46,17,1,1312
43,1993,1129.0,2523.0,2298.0,176.0,36.0,1.674480e+10,0.2853,0.24,0.074822,...,1.23,6.291339,-14.695,733,324,82,38,6,0,1183
44,1994,1139.0,2546.0,2358.0,186.0,38.0,1.698945e+10,0.3409,0.32,0.143645,...,1.68,6.500000,-15.276,694,276,83,36,5,0,1094
45,1995,1157.0,2565.0,2442.0,197.0,36.0,1.723263e+10,0.4577,0.46,0.221933,...,1.95,6.618110,-15.486,826,289,102,24,12,0,1253
46,1996,1209.0,2624.0,2469.0,203.0,37.0,1.747468e+10,0.3228,0.35,0.166192,...,1.06,6.787402,-15.890,745,315,94,24,2,1,1181
47,1997,1208.0,2700.0,2495.0,209.0,38.0,1.771514e+10,0.5187,0.48,0.428193,...,1.97,7.066929,-16.487,743,285,87,29,9,1,1154
48,1998,1243.0,2766.0,2391.0,209.0,35.0,1.795439e+10,0.6344,0.64,0.532724,...,2.82,6.665354,-17.310,883,388,121,37,9,2,1440
49,1999,1270.0,2737.0,2352.0,217.0,33.0,1.819272e+10,0.4438,0.42,0.169861,...,1.37,7.011811,-17.697,836,330,129,56,12,1,1364
50,2000,1288.0,2838.0,2367.0,226.0,45.0,1.843048e+10,0.4262,0.42,0.232502,...,1.23,7.062992,-17.727,723,271,62,20,3,0,1079
51,2001,1312.0,2840.0,2492.0,237.0,46.0,1.866788e+10,0.5473,0.55,0.404219,...,1.82,7.287402,-18.032,814,287,99,26,6,0,1232
52,2002,1344.0,2831.0,2521.0,252.0,48.0,1.890531e+10,0.6023,0.63,0.467141,...,2.36,7.381890,-18.726,629,225,71,27,5,0,957
53,2003,1391.0,2959.0,2743.0,276.0,48.0,1.914355e+10,0.6134,0.62,0.525080,...,2.29,7.759843,-19.984,904,370,100,29,12,0,1415
54,2004,1437.0,3053.0,2967.0,298.0,53.0,1.938348e+10,0.5783,0.55,0.494636,...,1.57,7.740157,-20.703,1225,480,107,25,5,0,1842
55,2005,1480.0,3076.0,3157.0,320.0,60.0,1.962572e+10,0.6585,0.69,0.532787,...,2.43,7.744094,-21.405,815,343,84,24,1,0,1267
56,2006,1525.0,3089.0,3339.0,356.0,61.0,1.987055e+10,0.6125,0.63,0.511456,...,1.75,7.917323,-22.595,702,303,98,36,3,0,1142
57,2007,1572.0,3081.0,3464.0,382.0,68.0,2.011784e+10,0.6100,0.66,0.384604,...,2.09,7.996063,-23.255,681,306,97,27,4,1,1116
58,2008,1631.0,3122.0,3571.0,388.0,71.0,2.036727e+10,0.5419,0.54,0.367312,...,1.79,8.350394,-23.776,997,515,158,56,11,1,1738
59,2009,1585.0,3056.0,3620.0,413.0,66.0,2.061831e+10,0.6367,0.64,0.589442,...,1.61,8.586614,-24.459,709,355,94,21,3,0,1182

In [16]:
#show columns
gw_data_tornado_condensed.columns

Index(['Year', 'Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'Gas Flaring', 'population', 'GCAG_TEMP', 'GIS_TEMP',
       'Sea_anomaly_temp', 'GMSL', 'CO2_Increase', 'CSIRO Adjusted Sea Level',
       'Glacier_mass', 'Magnitude_0', 'Magnitude_1', 'Magnitude_2',
       'Magnitude_3', 'Magnitude_4', 'Magnitude_5', 'Tornado_total'],
      dtype='object')

In [17]:
#select inputs for total tornado model
X = gw_data_tornado_condensed[['Gas Fuel',   'Cement',
      'GIS_TEMP',  'population','CO2_Increase',
         'CSIRO Adjusted Sea Level'
       ]]
#set target
y=gw_data_tornado_condensed.Tornado_total

In [18]:
#split data into train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
#import linear regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [20]:
#modeling total tornadoes
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6882554529264668
Testing Score: 0.6922996965641994

In [21]:
#get coeffiecent and intercept for total tornado model
model.coef_
model.intercept_

1746.4835279340773

In [22]:
#select inputs for mag 0 model
X_mag_0=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel',  'Cement',
         'GIS_TEMP','population', 
       'CO2_Increase'
       ]]
#set target
y_mag_0=gw_data_tornado_condensed.Magnitude_0

In [23]:
#split data into train and test data
X_train_mag_0, X_test_mag_0, y_train_mag_0, y_test_mag_0 = train_test_split(X_mag_0, y_mag_0, random_state=22)

In [24]:
#create linear regression model
model_mag_0 = LinearRegression()

In [25]:
#modeling mag 0 tornadoes
model_mag_0.fit(X_train_mag_0, y_train_mag_0)
training_score_mag_0 = model_mag_0.score(X_train_mag_0, y_train_mag_0)
testing_score_mag_0 = model_mag_0.score(X_test_mag_0, y_test_mag_0)

print(f"Training Score: {training_score_mag_0}")
print(f"Testing Score: {testing_score_mag_0}")

Training Score: 0.8709089955499222
Testing Score: 0.8280615553275835

In [26]:
#get coeffiecent and intercept for mag 0 model
model_mag_0.coef_
model_mag_0.intercept_

725.5741129178101

In [27]:
#select inputs for mag 1 model
X_mag_1=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel','Solid Fuel',  'Cement',
        'population',  'GIS_TEMP',  'CSIRO Adjusted Sea Level']]
#set target
y_mag_1=gw_data_tornado_condensed.Magnitude_1

In [28]:
#split data into train and test data
X_train_mag_1, X_test_mag_1, y_train_mag_1, y_test_mag_1 = train_test_split(X_mag_1, y_mag_1, random_state=42)

In [29]:
#create linear regression model
model_mag_1 = LinearRegression()

In [30]:
#modeling mag 1 tornadoes
# *** NO RELIABLE MODEL ***
model_mag_1.fit(X_train_mag_1, y_train_mag_1)
training_score_mag_1 = model_mag_1.score(X_train_mag_1, y_train_mag_1)
testing_score_mag_1 = model_mag_1.score(X_test_mag_1, y_test_mag_1)

print(f"Training Score: {training_score_mag_1}")
print(f"Testing Score: {testing_score_mag_1}")

Training Score: 0.45282448777097317
Testing Score: 0.24146623129113864

In [31]:
#select inputs for mag 2 model
X_mag_2=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel',  'Cement',
        'GIS_TEMP','population', 'Sea_anomaly_temp']]
#set target
y_mag_2=gw_data_tornado_condensed.Magnitude_2

In [32]:
#split data into train and test data
X_train_mag_2, X_test_mag_2, y_train_mag_2, y_test_mag_2 = train_test_split(X_mag_2, y_mag_2, random_state=22)

In [33]:
#create linear regression model
model_mag_2 = LinearRegression()

In [34]:
#modeling mag 2 tornadoes
model_mag_2.fit(X_train_mag_2, y_train_mag_2)
training_score_mag_2 = model_mag_2.score(X_train_mag_2, y_train_mag_2)
testing_score_mag_2 = model_mag_2.score(X_test_mag_2, y_test_mag_2)

print(f"Training Score: {training_score_mag_2}")
print(f"Testing Score: {testing_score_mag_2}")

Training Score: 0.6167471956464687
Testing Score: 0.740594533082905

In [35]:
#get coeffiecent and intercept for mag 2 model
model_mag_2.coef_
model_mag_2.intercept_

402.54617396776024

In [36]:
#select inputs for mag 3 model
X_mag_3=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
        'population',  'GIS_TEMP','CO2_Increase']]
#set target
y_mag_3=gw_data_tornado_condensed.Magnitude_3

In [37]:
#split data into train and test data
X_train_mag_3, X_test_mag_3, y_train_mag_3, y_test_mag_3 = train_test_split(X_mag_3, y_mag_3, random_state=42)

In [38]:
#create linear regression model
model_mag_3 = LinearRegression()

In [39]:
#modeling mag 3 tornadoes
# *** NO RELIABLE MODEL ***
model_mag_3.fit(X_train_mag_3, y_train_mag_3)
training_score_mag_3 = model_mag_3.score(X_train_mag_3, y_train_mag_3)
testing_score_mag_3 = model_mag_3.score(X_test_mag_3, y_test_mag_3)

print(f"Training Score: {training_score_mag_3}")
print(f"Testing Score: {testing_score_mag_3}")

Training Score: 0.3836811222693607
Testing Score: 0.04311288775462063

In [40]:
#select inputs for mag 4 model
X_mag_4=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 'Cement',
       'population',  'GIS_TEMP',
         'CO2_Increase']]
#set target
y_mag_4=gw_data_tornado_condensed.Magnitude_4

In [41]:
#split data into train and test data
X_train_mag_4, X_test_mag_4, y_train_mag_4, y_test_mag_4 = train_test_split(X_mag_4, y_mag_4, random_state=42)

In [42]:
#create linear regression model
model_mag_4 = LinearRegression()

In [43]:
#modeling mag 4 tornadoes
# *** NO RELIABLE MODEL ***
model_mag_4.fit(X_train_mag_4, y_train_mag_4)
training_score_mag_4 = model_mag_4.score(X_train_mag_4, y_train_mag_4)
testing_score_mag_4 = model_mag_4.score(X_test_mag_4, y_test_mag_4)

print(f"Training Score: {training_score_mag_4}")
print(f"Testing Score: {testing_score_mag_4}")

Training Score: 0.2884875428460787
Testing Score: -0.6016969045295963

In [41]:
#select inputs for mag 5 model
X_mag_5=gw_data_tornado_condensed[['Gas Fuel', 'Liquid Fuel', 'Solid Fuel', 
        'population', 'GIS_TEMP',  'Sea_anomaly_temp']]
#set target
y_mag_5=gw_data_tornado_condensed.Magnitude_5

In [42]:
#split data into train and test data
X_train_mag_5, X_test_mag_5, y_train_mag_5, y_test_mag_5 = train_test_split(X_mag_5, y_mag_5, random_state=42)

In [43]:
#create linear regression model
model_mag_5 = LinearRegression()

In [44]:
#modeling mag 5 tornadoes
# *** NO RELIABLE MODEL ***
model_mag_5.fit(X_train_mag_5, y_train_mag_5)
training_score_mag_5 = model_mag_5.score(X_train_mag_5, y_train_mag_5)
testing_score_mag_5 = model_mag_5.score(X_test_mag_5, y_test_mag_5)

print(f"Training Score: {training_score_mag_5}")
print(f"Testing Score: {testing_score_mag_5}")

Training Score: 0.26699634588711596
Testing Score: -0.3896784313178365

In [45]:
#bring in projected values for global warming factors (from linear regression function)
projected_values = pd.read_csv("../Output_Data/Forecasted_global_warming_values_for_models.csv")
projected_values

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,population,GCAG_TEMP,GIS_TEMP,Sea_anomaly_temp,GMSL,CO2_Increase,CSIRO Adjusted Sea Level,Glacier_mass
0,2011,1676.152632,3214.210526,3609.568421,418.336842,66.994737,2.108937e+10,0.707542,0.725947,0.605683,60.114737,2.293579,8.671343,-25.111584
1,2012,1708.262406,3250.635338,3688.622556,432.830827,68.818045,2.133100e+10,0.726380,0.746466,0.629196,63.290902,2.345872,8.800222,-25.705940
2,2013,1740.372180,3287.060150,3767.676692,447.324812,70.641353,2.157264e+10,0.745219,0.766985,0.652708,66.467068,2.398165,8.929101,-26.300295
3,2014,1772.481955,3323.484962,3846.730827,461.818797,72.464662,2.181427e+10,0.764058,0.787504,0.676221,69.643233,2.450459,9.057981,-26.894651
4,2015,1804.591729,3359.909774,3925.784962,476.312782,74.287970,2.205590e+10,0.782896,0.808023,0.699733,72.819398,2.502752,9.186860,-27.489007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2197,7648.570677,9989.225564,18313.637594,3114.218045,406.130075,6.603324e+10,4.211544,4.542444,4.978997,650.881504,12.020120,32.642890,-135.661733
187,2198,7680.680451,10025.650376,18392.691729,3128.712030,407.953383,6.627487e+10,4.230383,4.562962,5.002510,654.057669,12.072414,32.771769,-136.256089
188,2199,7712.790226,10062.075188,18471.745865,3143.206015,409.776692,6.651651e+10,4.249221,4.583481,5.026022,657.233835,12.124707,32.900648,-136.850444
189,2200,7744.900000,10098.500000,18550.800000,3157.700000,411.600000,6.675814e+10,4.268060,4.604000,5.049534,660.410000,12.177000,33.029528,-137.444800
190,2201,7777.009774,10134.924812,18629.854135,3172.193985,413.423308,6.699977e+10,4.286899,4.624519,5.073047,663.586165,12.229293,33.158407,-138.039156

In [46]:
#projecting number of tornadoes
projected_num_tornadoes = []
for i in range(len(projected_values["Year"])):
    proj_tornado_tot = ((model.coef_[0])*(projected_values["Gas Fuel"][i]) + (model.coef_[1])*(projected_values["Cement"][i])\
    + (model.coef_[2])*(projected_values["GIS_TEMP"][i]) + (model.coef_[3])*(projected_values["population"][i]) \
    + (model.coef_[4])*(projected_values["CO2_Increase"][i]) +(model.coef_[5])*(projected_values["CSIRO Adjusted Sea Level"][i]))\
    +model.intercept_
    projected_num_tornadoes.append(proj_tornado_tot)

projected_num_tornadoes

[1355.8140875429424,
 1366.1124769344174,
 1376.4108663259049,
 1386.709255717437,
 1397.0076451089253,
 1407.3060345004142,
 1417.604423891919,
 1427.9028132834069,
 1438.2012026749212,
 1448.49959206641,
 1458.7979814579153,
 1469.0963708494041,
 1479.3947602409166,
 1489.6931496324223,
 1499.9915390239144,
 1510.2899284154018,
 1520.5883178068948,
 1530.8867071984182,
 1541.1850965899075,
 1551.483485981414,
 1561.7818753729043,
 1572.0802647643923,
 1582.3786541559034,
 1592.677043547411,
 1602.9754329388998,
 1613.2738223303859,
 1623.5722117219184,
 1633.8706011134032,
 1644.1689905048966,
 1654.4673798964013,
 1664.7657692878788,
 1675.0641586793672,
 1685.3625480708524,
 1695.6609374624086,
 1705.9593268539002,
 1716.2577162453836,
 1726.5561056368929,
 1736.8544950283795,
 1747.1528844198701,
 1757.4512738113744,
 1767.7496632028628,
 1778.0480525943512,
 1788.3464419859088,
 1798.6448313773935,
 1808.9432207688815,
 1819.2416101603617,
 1829.5399995518678,
 1839.8383889433558,
 1850.1367783348437,
 1860.435167726349,
 1870.7335571178405,
 1881.0319465093726,
 1891.3303359008814,
 1901.6287252923712,
 1911.9271146838587,
 1922.225504075348,
 1932.5238934668555,
 1942.8222828583444,
 1953.1206722498432,
 1963.4190616413325,
 1973.717451032875,
 1984.0158404243616,
 1994.3142298158696,
 2004.6126192073598,
 2014.9110085988432,
 2025.2093979903539,
 2035.507787381844,
 2045.806176773328,
 2056.104566164819,
 2066.4029555563757,
 2076.701344947862,
 2086.999734339348,
 2097.2981237308613,
 2107.5965131223415,
 2117.8949025138204,
 2128.1932919053256,
 2138.4916812968136,
 2148.7900706883033,
 2159.0884600798586,
 2169.386849471345,
 2179.6852388628304,
 2189.983628254323,
 2200.2820176458317,
 2210.580407037319,
 2220.8787964288053,
 2231.177185820316,
 2241.4755752118012,
 2251.7739646032965,
 2262.0723539948344,
 2272.3707433863224,
 2282.6691327778112,
 2292.9675221692964,
 2303.2659115608126,
 2313.564300952294,
 2323.8626903437794,
 2334.16107973529,
 2344.4594691267753,
 2354.757858518314,
 2365.0562479098203,
 2375.3546373013082,
 2385.65302669281,
 2395.9514160843187,
 2406.249805475792,
 2416.548194867282,
 2426.846584258768,
 2437.1449736502714,
 2447.443363041815,
 2457.7417524333036,
 2468.0401418248025,
 2478.338531216295,
 2488.6369206077793,
 2498.935309999292,
 2509.2336993907816,
 2519.5320887822695,
 2529.830478173753,
 2540.1288675653136,
 2550.4272569567997,
 2560.725646348276,
 2571.0240357397793,
 2581.322425131267,
 2591.6208145227624,
 2601.919203914266,
 2612.2175933057565,
 2622.5159826972417,
 2632.814372088798,
 2643.1127614802895,
 2653.411150871773,
 2663.709540263258,
 2674.007929654766,
 2684.3063190462613,
 2694.604708437752,
 2704.903097829241,
 2715.201487220724,
 2725.499876612264,
 2735.798266003773,
 2746.096655395259,
 2756.395044786747,
 2766.6934341782558,
 2776.9918235697446,
 2787.2902129612335,
 2797.588602352725,
 2807.8869917442275,
 2818.185381135781,
 2828.4837705272635,
 2838.7821599187696,
 2849.0805493102557,
 2859.3789387017327,
 2869.6773280932434,
 2879.975717484734,
 2890.274106876221,
 2900.5724962677073,
 2910.87088565926,
 2921.1692750507495,
 2931.467664442244,
 2941.7660538337436,
 2952.064443225235,
 2962.362832616726,
 2972.6612220082284,
 2982.959611399719,
 2993.2580007912015,
 3003.5563901827504,
 3013.85477957424,
 3024.15316896572,
 3034.451558357216,
 3044.7499477487167,
 3055.048337140211,
 3065.346726531699,
 3075.645115923206,
 3085.943505314694,
 3096.2418947062256,
 3106.5402840977363,
 3116.838673489225,
 3127.1370628807076,
 3137.4354522722174,
 3147.733841663709,
 3158.032231055188,
 3168.330620446675,
 3178.629009838182,
 3188.92739922967,
 3199.225788621205,
 3209.5241780127158,
 3219.8225674041937,
 3230.1209567956853,
 3240.4193461871914,
 3250.717735578695,
 3261.01612497018,
 3271.3145143616707,
 3281.612903753176,
 3291.911293144722,
 3302.20968253619,
 3312.508071927696]

In [47]:
#projecting mag 0 tornadoes
projected_num_mag_0 = []
for i in range(len(projected_values["Year"])):
    proj_mag_0_tot = ((model_mag_0.coef_[0])*(projected_values["Gas Fuel"][i]) + (model_mag_0.coef_[1])*(projected_values["Liquid Fuel"][i])\
    + (model_mag_0.coef_[2])*(projected_values["Cement"][i]) + (model_mag_0.coef_[3])*(projected_values["GIS_TEMP"][i]) \
    + (model_mag_0.coef_[4])*(projected_values["population"][i]) +(model_mag_0.coef_[5])*(projected_values["CO2_Increase"][i]))\
    +model_mag_0.intercept_
    projected_num_mag_0.append(proj_mag_0_tot)

projected_num_mag_0

[926.9435951454282,
 939.8386720474552,
 952.733748949483,
 965.628825851534,
 978.5239027535657,
 991.4189796555949,
 1004.3140565576272,
 1017.2091334596545,
 1030.1042103616994,
 1042.999287263727,
 1055.8943641657595,
 1068.789441067788,
 1081.6845179698332,
 1094.5795948718664,
 1107.4746717738944,
 1120.3697486759238,
 1133.2648255779563,
 1146.1599024800066,
 1159.0549793820405,
 1171.9500562840726,
 1184.845133186102,
 1197.7402100881295,
 1210.6352869901725,
 1223.5303638922073,
 1236.4254407942367,
 1249.3205176962615,
 1262.2155945983136,
 1275.1106715003389,
 1288.0057484023675,
 1300.900825304401,
 1313.7959022064308,
 1326.6909791084624,
 1339.5860560104895,
 1352.4811329125557,
 1365.3762098145853,
 1378.271286716611,
 1391.1663636186468,
 1404.061440520673,
 1416.9565174227018,
 1429.8515943247357,
 1442.746671226762,
 1455.6417481287904,
 1468.5368250308588,
 1481.4319019328855,
 1494.3269788349157,
 1507.2220557369465,
 1520.1171326389795,
 1533.012209541006,
 1545.907286443036,
 1558.8023633450675,
 1571.697440247096,
 1584.5925171491579,
 1597.48759405119,
 1610.3826709532184,
 1623.2777478552468,
 1636.1728247572748,
 1649.0679016593074,
 1661.962978561342,
 1674.8580554633756,
 1687.7531323654052,
 1700.648209267471,
 1713.5432861694967,
 1726.4383630715315,
 1739.3334399735618,
 1752.228516875587,
 1765.1235937776196,
 1778.0186706796508,
 1790.9137475816738,
 1803.8088244837036,
 1816.703901385772,
 1829.5989782877982,
 1842.4940551898308,
 1855.3891320918674,
 1868.28420899389,
 1881.1792858959216,
 1894.074362797954,
 1906.9694396999816,
 1919.8645166020092,
 1932.7595935040758,
 1945.6546704061047,
 1958.54974730813,
 1971.4448242101607,
 1984.3399011121965,
 1997.2349780142213,
 2010.1300549162543,
 2023.0251318182873,
 2035.9202087203153,
 2048.8152856223464,
 2061.7103625244094,
 2074.6054394264374,
 2087.5005163284663,
 2100.3955932304943,
 2113.29067013253,
 2126.1857470345544,
 2139.0808239365833,
 2151.9759008386172,
 2164.870977740644,
 2177.7660546427087,
 2190.6611315447426,
 2203.5562084467706,
 2216.4512853488045,
 2229.3463622508384,
 2242.241439152869,
 2255.136516054895,
 2268.0315929569215,
 2280.9266698589554,
 2293.821746761016,
 2306.7168236630446,
 2319.6119005650785,
 2332.5069774671033,
 2345.4020543691354,
 2358.297131271173,
 2371.1922081732005,
 2384.087285075229,
 2396.9823619772565,
 2409.877438879323,
 2422.7725157813516,
 2435.667592683378,
 2448.562669585413,
 2461.4577464874396,
 2474.35282338947,
 2487.247900291502,
 2500.1429771935295,
 2513.038054095559,
 2525.933130997631,
 2538.828207899657,
 2551.723284801686,
 2564.6183617037127,
 2577.513438605742,
 2590.408515507775,
 2603.3035924098044,
 2616.1986693118347,
 2629.0937462138622,
 2641.9888231159234,
 2654.88390001796,
 2667.778976919986,
 2680.6740538220106,
 2693.569130724049,
 2706.4642076260784,
 2719.3592845281078,
 2732.2543614301344,
 2745.1494383321683,
 2758.0445152342368,
 2770.939592136265,
 2783.8346690382955,
 2796.729745940323,
 2809.624822842353,
 2822.5198997443877,
 2835.4149766464157,
 2848.310053548443,
 2861.2051304504707,
 2874.100207352541,
 2886.9952842545695,
 2899.8903611565997,
 2912.78543805863,
 2925.6805149606594,
 2938.575591862687,
 2951.470668764721,
 2964.365745666751,
 2977.260822568774,
 2990.1558994708416,
 3003.0509763728737,
 3015.9460532748976,
 3028.841130176928,
 3041.7362070789645,
 3054.6312839809902,
 3067.5263608830182,
 3080.4214377850553,
 3093.3165146870815,
 3106.211591589141,
 3119.106668491179,
 3132.0017453932046,
 3144.89682229523,
 3157.7918991972624,
 3170.6869760992954,
 3183.582053001324,
 3196.4771299033514,
 3209.37220680539,
 3222.2672837074156,
 3235.1623606094786,
 3248.0574375115134,
 3260.952514413539,
 3273.847591315564,
 3286.742668217597,
 3299.6377451196317,
 3312.532822021658,
 3325.4278989236864,
 3338.322975825722,
 3351.218052727786,
 3364.1131296298117,
 3377.0082065318466]

In [48]:
#projecting mag 2 tornadoes
projected_num_mag_2 = []
for i in range(len(projected_values["Year"])):
    proj_mag_2_tot = ((model_mag_2.coef_[0])*(projected_values["Gas Fuel"][i]) + (model_mag_2.coef_[1])*(projected_values["Liquid Fuel"][i])\
    + (model_mag_2.coef_[2])*(projected_values["Cement"][i]) + (model_mag_2.coef_[3])*(projected_values["GIS_TEMP"][i]) \
    + (model_mag_2.coef_[4])*(projected_values["population"][i]) +(model_mag_2.coef_[5])*(projected_values["Sea_anomaly_temp"][i]))\
    + model_mag_2.intercept_
    projected_num_mag_2.append(proj_mag_2_tot)

projected_num_mag_2

[115.1368080619369,
 116.07611493498308,
 117.01542180802744,
 117.95472868107532,
 118.89403555412122,
 119.83334242716751,
 120.77264930021403,
 121.7119561732602,
 122.65126304630763,
 123.59056991935023,
 124.52987679239897,
 125.46918366544509,
 126.4084905384903,
 127.34779741153915,
 128.2871042845855,
 129.2264111576281,
 130.16571803067683,
 131.10502490372306,
 132.0443317767668,
 132.98363864981553,
 133.92294552286165,
 134.86225239590408,
 135.80155926895162,
 136.7408661420003,
 137.68017301504466,
 138.6194798880909,
 139.55878676114048,
 140.4980936341846,
 141.43740050722926,
 142.376707380278,
 143.31601425332258,
 144.25532112636807,
 145.19462799941425,
 146.13393487246316,
 147.07324174550791,
 148.0125486185541,
 148.95185549160078,
 149.8911623646469,
 150.8304692376933,
 151.76977611073994,
 152.70908298378612,
 153.6483898568302,
 154.58769672987978,
 155.52700360292556,
 156.46631047597145,
 157.40561734901564,
 158.34492422206472,
 159.28423109510908,
 160.22353796815315,
 161.16284484120183,
 162.102151714248,
 163.04145858729487,
 163.9807654603431,
 164.92007233338973,
 165.8593792064322,
 166.79868607947833,
 167.73799295252712,
 168.67729982557103,
 169.61660669861595,
 170.55591357166418,
 171.49522044470973,
 172.43452731775602,
 173.37383419080453,
 174.31314106384866,
 175.25244793689473,
 176.19175480994352,
 177.1310616829864,
 178.0703685560324,
 179.00967542907898,
 179.94898230212772,
 180.8882891751736,
 181.8275960482195,
 182.7669029212662,
 183.70620979431038,
 184.64551666735719,
 185.58482354040376,
 186.52413041345,
 187.46343728649623,
 188.40274415954553,
 189.34205103258984,
 190.28135790563584,
 191.22066477868015,
 192.15997165172888,
 193.0992785247749,
 194.03858539781896,
 194.97789227086565,
 195.91719914390995,
 196.85650601695608,
 197.79581289000743,
 198.7351197630516,
 199.6744266360975,
 200.61373350914397,
 201.55304038218884,
 202.49234725523564,
 203.4316541282813,
 204.370961001328,
 205.3102678743739,
 206.2495747474223,
 207.1888816204675,
 208.12818849351362,
 209.06749536655838,
 210.00680223960552,
 210.94610911265164,
 211.885415985698,
 212.82472285874184,
 213.76402973178875,
 214.7033366048376,
 215.64264347788225,
 216.5819503509304,
 217.52125722397665,
 218.46056409702106,
 219.3998709700673,
 220.33917784311353,
 221.2784847161584,
 222.21779158920384,
 223.15709846225576,
 224.0964053352996,
 225.03571220834596,
 225.9750190813923,
 226.91432595443717,
 227.8536328274833,
 228.7929397005318,
 229.732246573576,
 230.67155344662177,
 231.61086031967142,
 232.5501671927156,
 233.4894740657615,
 234.42878093880762,
 235.3680878118542,
 236.307394684901,
 237.2467015579452,
 238.186008430992,
 239.125315304038,
 240.06462217708696,
 241.0039290501332,
 241.9432359231791,
 242.882542796226,
 243.82184966927008,
 244.7611565423171,
 245.700463415363,
 246.6397702884073,
 247.5790771614558,
 248.51838403450375,
 249.457690907546,
 250.3969977805944,
 251.33630465364052,
 252.27561152668437,
 253.21491839973356,
 254.15422527278048,
 255.09353214582194,
 256.03283901886886,
 256.9721458919193,
 257.91145276496303,
 258.8507596380097,
 259.790066511059,
 260.7293733841024,
 261.6686802571472,
 262.6079871301957,
 263.54729400324044,
 264.48660087628576,
 265.4259077493372,
 266.3652146223812,
 267.3045214954263,
 268.2438283684723,
 269.1831352415181,
 270.1224421145643,
 271.0617489876112,
 272.0010558606577,
 272.940362733703,
 273.8796696067504,
 274.81897647979775,
 275.7582833528431,
 276.69759022588977,
 277.6368970989358,
 278.5762039719827,
 279.51551084502734,
 280.4548177180713,
 281.39412459111935,
 282.33343146416377,
 283.2727383372125,
 284.2120452102608,
 285.1513520833054,
 286.0906589563505,
 287.0299658293988,
 287.9692727024407,
 288.9085795754881,
 289.84788644853387,
 290.7871933215808,
 291.7265001946286,
 292.6658070676746,
 293.60511394071995]

In [58]:
#zip together above lists
projected_tornado_info = list(zip(projected_values["Year"], projected_num_mag_0,projected_num_mag_2, projected_num_tornadoes))
#make a dataframe from zipped lists and rename columns
projected_tornado_info = pd.DataFrame(projected_tornado_info)
#rename columns
projected_tornado_info = projected_tornado_info.rename(columns = {0:"Year", 1:"Magnitude_0", 2:"Magnitude_2", 3:"Tornado_total"})
projected_tornado_info = projected_tornado_info.round()

In [59]:
#select which colmns to show
tornado_data_reduced_columns = tornado_data[["Year", "Magnitude_0", "Magnitude_2", "Tornado_total"]]
tornado_data_reduced_columns = tornado_data_reduced_columns[:61]

In [60]:
#combine historical tornado data with projected data
current_future_tornadoes_df = pd.concat([tornado_data_reduced_columns,projected_tornado_info], axis =0)
current_future_tornadoes_df.head(30)

    Year  Magnitude_0  Magnitude_2  Tornado_total
0   1950         16.0         71.0          206.0
1   1951         49.0         84.0          261.0
2   1952         32.0         72.0          246.0
3   1953         66.0        143.0          442.0
4   1954         91.0        193.0          570.0
5   1955        170.0        167.0          604.0
6   1956        125.0        149.0          518.0
7   1957        218.0        238.0          868.0
8   1958        145.0        154.0          576.0
9   1959        145.0        157.0          614.0
10  1960        128.0        175.0          619.0
11  1961        154.0        233.0          721.0
12  1962        191.0        166.0          667.0
13  1963         98.0        154.0          476.0
14  1964        169.0        221.0          719.0
15  1965        248.0        251.0          918.0
16  1966        169.0        147.0          593.0
17  1967        282.0        247.0          940.0
18  1968        192.0        165.0          668.0
19  1969        195.0        143.0          617.0
20  1970        164.0        196.0          671.0
21  1971        188.0        243.0          904.0
22  1972        174.0        183.0          747.0
23  1973        219.0        305.0         1115.0
24  1974        224.0        214.0          974.0
25  1975        307.0        194.0          924.0
26  1976        241.0        174.0          848.0
27  1977        236.0        143.0          861.0
28  1978        338.0        111.0          802.0
29  1979        359.0        120.0          865.0

In [69]:
#create year list to be used, as well as alpha and dashlength needed for visualization
year_start = 1940
alpha = []
dashLength = []
years_reduce = []
for i in range(26):
    year_start = year_start+10
    years_reduce.append(year_start)
    if year_start < 2020:
        alpha_value = 1
        dash_value = 0
    else:
        alpha_value = 0.4
        dash_value = 8
    alpha.append(alpha_value)
    dashLength.append(dash_value)
years_reduce

[1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010,
 2020,
 2030,
 2040,
 2050,
 2060,
 2070,
 2080,
 2090,
 2100,
 2110,
 2120,
 2130,
 2140,
 2150,
 2160,
 2170,
 2180,
 2190,
 2200]

In [70]:
#select every 10 years from full tornado df to show for visualization
current_future_tornadoes_df_reduce = current_future_tornadoes_df.loc[current_future_tornadoes_df["Year"].isin(years_reduce),:]
current_future_tornadoes_df_reduce

     Year  Magnitude_0  Magnitude_2  Tornado_total
0    1950         16.0         71.0          206.0
10   1960        128.0        175.0          619.0
20   1970        164.0        196.0          671.0
30   1980        267.0        162.0          876.0
40   1990        537.0        161.0         1151.0
50   2000        723.0         62.0         1079.0
60   2010        776.0        129.0         1315.0
9    2020       1043.0        124.0         1448.0
19   2030       1172.0        133.0         1551.0
29   2040       1301.0        142.0         1654.0
39   2050       1430.0        152.0         1757.0
49   2060       1559.0        161.0         1860.0
59   2070       1688.0        171.0         1963.0
69   2080       1817.0        180.0         2066.0
79   2090       1946.0        189.0         2169.0
89   2100       2075.0        199.0         2272.0
99   2110       2204.0        208.0         2375.0
109  2120       2333.0        218.0         2478.0
119  2130       2461.0        227.0         2581.0
129  2140       2590.0        236.0         2684.0
139  2150       2719.0        246.0         2787.0
149  2160       2848.0        255.0         2890.0
159  2170       2977.0        264.0         2993.0
169  2180       3106.0        274.0         3096.0
179  2190       3235.0        283.0         3199.0
189  2200       3364.0        293.0         3302.0

In [71]:
#create alpha and dashlength columns
current_future_tornadoes_df_reduce["alpha"] = alpha
current_future_tornadoes_df_reduce["dashLength"] = dashLength
current_future_tornadoes_df_reduce

C:\Users\Amber\Anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Amber\Anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Year  Magnitude_0  Magnitude_2  Tornado_total  alpha  dashLength
0    1950         16.0         71.0          206.0    1.0           0
10   1960        128.0        175.0          619.0    1.0           0
20   1970        164.0        196.0          671.0    1.0           0
30   1980        267.0        162.0          876.0    1.0           0
40   1990        537.0        161.0         1151.0    1.0           0
50   2000        723.0         62.0         1079.0    1.0           0
60   2010        776.0        129.0         1315.0    1.0           0
9    2020       1043.0        124.0         1448.0    0.4           8
19   2030       1172.0        133.0         1551.0    0.4           8
29   2040       1301.0        142.0         1654.0    0.4           8
39   2050       1430.0        152.0         1757.0    0.4           8
49   2060       1559.0        161.0         1860.0    0.4           8
59   2070       1688.0        171.0         1963.0    0.4           8
69   2080       1817.0        180.0         2066.0    0.4           8
79   2090       1946.0        189.0         2169.0    0.4           8
89   2100       2075.0        199.0         2272.0    0.4           8
99   2110       2204.0        208.0         2375.0    0.4           8
109  2120       2333.0        218.0         2478.0    0.4           8
119  2130       2461.0        227.0         2581.0    0.4           8
129  2140       2590.0        236.0         2684.0    0.4           8
139  2150       2719.0        246.0         2787.0    0.4           8
149  2160       2848.0        255.0         2890.0    0.4           8
159  2170       2977.0        264.0         2993.0    0.4           8
169  2180       3106.0        274.0         3096.0    0.4           8
179  2190       3235.0        283.0         3199.0    0.4           8
189  2200       3364.0        293.0         3302.0    0.4           8

In [72]:
#output final csv for visualization
current_future_tornadoes_df_reduce.to_csv("../Output_Data/Projected_tornadoes_reduced.csv", index = False)