In [1]:
import pandas as pd

In [2]:
url='https://en.m.wikipedia.org/wiki/Top_contributors_to_greenhouse_gas_emissions'

In [5]:
tables = pd.read_html(url)
top_companies=tables[0]

In [6]:
top_companies

,Rank,Company,Country,Percentage
0,1,China (Coal),China,14.32%
1,2,Saudi Arabian Oil Company (Aramco),Saudi Arabia,4.50%
2,3,Gazprom OAO,Russia,3.91%
3,4,National Iranian Oil Co,Iran,2.28%
4,5,ExxonMobil Corp,United States,1.98%
5,6,Coal India,India,1.87%
6,7,Petroleos Mexicanos (Pemex),Mexico,1.87%
7,8,Russia (Coal),Russia,1.86%
8,9,Royal Dutch Shell PLC,"Netherlands, United Kingdom",1.67%
9,10,China National Petroleum Corp (CNPC),China,1.56%
10,11,BP,United Kingdom,1.53%
11,12,Chevron Corp,United States,1.31%
12,13,Petroleos de Venezuela SA (PDVSA),Venezuela,1.23%
13,14,Abu Dhabi National Oil Co,United Arab Emirates,1.20%
14,15,Poland (Coal),Poland,1.16%
15,16,Peabody Energy Corp,United States,1.15%
16,17,Sonatrach SPA,Algeria,1.00%
17,18,Kuwait Petroleum Corp,Kuwait,1.00%
18,19,Total SA,France,0.95%
19,20,BHP Billiton Ltd,"Australia, United Kingdom",0.91%