In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data=pd.read_csv('Resources/model_3.csv')
data

,Unnamed: 0,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita,concentration
0,1,1752,3,0,0,3,0,0,NaN,277.23
1,12,1763,3,0,0,3,0,0,NaN,277.16
2,13,1764,3,0,0,3,0,0,NaN,276.40
3,22,1773,4,0,0,4,0,0,NaN,277.86
4,28,1779,4,0,0,4,0,0,NaN,280.24
...,...,...,...,...,...,...,...,...,...,...
136,255,2006,8370,1525,3089,3339,356,61,1.27,381.90
137,256,2007,8566,1572,3081,3464,382,68,1.28,383.79
138,257,2008,8783,1631,3122,3571,388,71,1.30,385.60
139,258,2009,8740,1585,3056,3620,413,66,1.28,387.43
140,259,2010,9167,1702,3114,3842,450,59,1.33,389.90

In [12]:
del data['Unnamed: 0']
del data['Total']
del data['Per Capita']

KeyError: 'Unnamed: 0'

In [13]:
data

,Year,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,concentration
0,1752,0,0,3,0,0,277.23
1,1763,0,0,3,0,0,277.16
2,1764,0,0,3,0,0,276.40
3,1773,0,0,4,0,0,277.86
4,1779,0,0,4,0,0,280.24
...,...,...,...,...,...,...,...
136,2006,1525,3089,3339,356,61,381.90
137,2007,1572,3081,3464,382,68,383.79
138,2008,1631,3122,3571,388,71,385.60
139,2009,1585,3056,3620,413,66,387.43
140,2010,1702,3114,3842,450,59,389.90

In [8]:
X=data.drop(columns=['concentration', 'Year'])
y=data.concentration

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [11]:
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)



print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.9871632365339449
Testing Score: 0.991831779528276